<title>JAM News | Password Reset Success</title>

<style>
	body,
	html {
		margin: 0;
		padding: 0;
		height: 100%;
		background: linear-gradient(90deg, #5ad8ee, #0b87ec);
		font-family: 'Sora', sans-serif;

	}
	
	.header{
		text-align: center;
		font-size: 25px;;
		padding: 20px;
		color: black;
		margin-top: 15px;

	}
	.header1{
		text-align: center;
		font-size: 25px;;
		padding: 20px;
		color: rgba(255, 255, 255, 0.815);
		background: black;

	}

	.resetpass{
		text-align: center;
		padding: 10px;
		color: white;
		font-size: 20px;
		
		
	}
	.btn {
			margin-top: 20px;
			margin-left: 20px;
			background: black;		
			color: white;
			padding: 20px;
			font-size: 20px;
		}

	

</style>

<h3 class="header1">Password Reset.</h3>
<button class="btn" onclick="window.location.href='/profile';">Back</button>


<p class="header">Your password has been reset </p>

<br><br>




