.search {
  text-align: center;
  width: 100%;
  margin-top: 2em;
  display: block;
  align-items: center;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 40px;
  width: 900px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

.article {
  margin: auto;
  width: 75%;
  border: 3px solid black;
  padding: 10px;
  background: rgba(241, 240, 240, 0.925);
  margin-top: 25px;
  height: 250px;
  text-align: justify;
  border-radius: 10px;
}

.searchbtn {
  font-size: 20px;
  padding: 8px;
  margin-left: 2px;
}