a{
    font-size: 20px;
    text-align: center;
    padding: 30px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    margin-top: 10px;
}

.profilepic {
    align: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.options {
    display: block;
    margin-top: 50px;
    text-align: center;
}

.logoutbtn {
    font-size: 23px;
    padding: 17px;
}

.prefbtn {
    font-size: 23px;
    padding: 17px;
    background-color: black;
    color: white;
}
.titlelink 
{
    color: black;
    background-color:transparent;
    text-decoration: underline;
    font-weight: bold;
}

.notify {
    font-size: 25px;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.followedusers{
    padding: 20px;
    font-size: 15px;
    color: black;
    margin-left: 150px;

}

.followtitle {
    padding: 20px;
    color: white;
    font-size: 30px;
    margin-left: 150px;
}

.users {
    font-size: 40px;
    margin-top: 10px;
    padding: 20px;

}

.user-button {
    font-size: 25px;
    color: black;
}